@font-face {
  font-family: "Conv_Yellow Design Studio - Lulo Clean One";
  src: url(/src/fonts/Yellow\ Design\ Studio\ -\ Lulo\ Clean\ One.woff);
}
@font-face {
  font-family: "HoeflerText-Regular";
  src: url(/src/fonts/HoeflerText-Regular.woff);
}

/* Set the background color for the entire webpage */
body {
  background-color: #f7f6f3; /* Set your desired background color */
  margin: 0;
  padding: 0;
  font-family: 'HoeflerText-Regular', sans-serif;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #f7f6f3; /* Match the background color of the page */
  z-index: 1000; /* Ensure the header is above other content */
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px; /* Optional: Add some padding for better appearance */
}

/* Wrapper styles */
.wrapper {
  max-width: 1200px;
  margin-top: 260px; /* Adjust this value based on the height of your header */
  padding: 0 30px;
}

.col-xs-5{
  position: relative;
  text-align: right;
  border-bottom: 1px solid #8F6B4D;
  color: #8F6B4D;
  font-family: "Conv_Yellow Design Studio - Lulo Clean One";
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;

}

.col-xs-5 h3{
  position: relative;
  right: 0;
  padding-right: 45px;
}

.col-xs-12{
  width: 100%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
  color: #8F6B4D;
  font-family: "Conv_Yellow Design Studio - Lulo Clean One";
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.2px;
  margin: 0 0 10px;
  text-transform: uppercase;
  text-align: left !important;
  font-size: 18px;
  padding-top: 20px !important;
  background: #f7f6f3;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.fixed-col{
  font-family: 'HoeflerText-Regular', Gill Sans,Gill Sans MT,Calibri,sans-serif;
  color: #8F6B4D;
  font-size: 23px;
  border-collapse: collapse;
  border-spacing: 0;
  box-sizing: border-box;
  text-align: right;
  width: 12%;
  padding: 8px;
  line-height: 1.428571429;
  vertical-align: top;
  border: medium none;
  border-bottom: 1px solid #8F6B4D;
}
/* Remove borders and gridlines from the table */
#wineTable {
  border-collapse: collapse;
  width: 100%;
}

#wineTable th, #wineTable td {
  border: none; /* Remove borders */
  padding: 8px;
}

/* Default style for the table body rows */
#wineTable tbody tr td {
  font-family: 'HoeflerText-Regular', sans-serif;
  color: #000;
  font-size: 23px;
  background: transparent;
  box-sizing: border-box;
  line-height: 1.428571429;
  padding: 8px;
  background: #f7f6f3;
}

/* Style for the table header */
#wineTable th {
  color: #8F6B4D;
  font-family: "Conv_Yellow Design Studio - Lulo Clean One";
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.2px;
  margin: 0 0 10px;
  text-transform: uppercase;
  text-align: left !important;
  font-size: 18px;
  padding-top: 20px !important;
  background: #f7f6f3;
}

/* Style for the group title rows */
#wineTable .group-title-row td {
  color: #8F6B4D;
  font-family: "Conv_Yellow Design Studio - Lulo Clean One", sans-serif;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.2px;
  margin: 0 0 10px;
  text-transform: uppercase;
  text-align: left !important;
  font-size: 20px;
  padding-top: 40px !important;
  background: #f7f6f3;
}

/* Style for the subgroup title rows */
#wineTable .subgroup-title-row td {
  color: #8F6B4D;
  font-family: "Conv_Yellow Design Studio - Lulo Clean One";
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.2px;
  margin: 0 0 10px;
  text-transform: uppercase;
  text-align: left !important;
  font-size: 18px;
  padding-top: 20px !important;
  border: medium none;
  background: #f7f6f3;
}

/* Style for the links in the table */
#wineTable tbody tr td a {
  color: #532A3A;
  text-decoration: none;
}

#wineTable tbody tr td a:hover {
  text-decoration: underline;
}